<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- FONT AWSOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="MovieApp.css" />
    <title>Movie APP | Challenge </title>

</head>

<body>
    <!-- HEADER PART -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse px-5" id="navbarTogglerDemo01">
                    <a class="navbar-brand text-warning" href="#">Period Drama Site</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex w-50">
                        <div class="input-group me-2 w-75">
                            <input type="text" class="form-control" placeholder="Filter Movie By Title" />
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                    </form>
                    <button class="btn btn-warning text-uppercase"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Sign In <i class="fa fa-sign-in-alt"></i></button>
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN CONTENT PART -->

    <style>
        .card {
            margin: 11px;
        }

        main {
            width: 79%;
            padding: 10px;
        }

        .card-head {
            height: 182px;
            overflow-y: hidden;
        }
    </style>
    
 
    <main class="d-flex flex-wrap mx-auto m-3 bg-light">

   <!-- movie 1 -->
        <div class="card" style="width: 22rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/0f/e0/1d/0fe01d67dbf959e7bc85c4a014400f9d.jpg"
                    class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title">Emma (2020)</h5>
                <p class="card-text">The film follows the story of Miss Emma Woodhouse (Anya Taylor-Joy), 
                                      a wealthy and elegant young woman living with her father in Regency-era 
                                      England...</p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>

    <!-- movie 2 -->
        <div class="card" style="width: 23rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/5c/38/a2/5c38a29bce967ce378ea5e245ec4e5fe.jpg" class="card-img-top" alt="saytama">
            </div>

            <div class="card-body">
                <h5 class="card-title">The Little Women (2019)</h5>
                <p class="card-text">The iconic story follows the March sisters.Jo, Meg, Beth, and Amy as they grow up with their mother Marmee in Concord, 
                    Massachusetts. While their father is off fighting in the war...
                </p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>

     <!-- movie 3 -->
        <div class="card" style="width: 23rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/58/21/00/58210089f8d7c0a3422c54015f5de069.jpg" class="card-img-top"
                    alt="saytama" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Anne with an E (2017)</h5>
                <p class="card-text">In 1896, elderly brother and sister Matthew and Marilla Cuthbert decide to adopt an orphan boy to help out around their ancestral farm of Green Gables,
                     on the outskirts...</p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>

    <!--movie 4-->
        <div class="card" style="width: 22rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/a7/35/b2/a735b24c5545441d407360146ea77af1.jpg" class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title">Far from the Madding Crowd (2015)</h5>
                <p class="card-text">The story of independent, beautiful and headstrong Bathsheba Everdene, 
                    who attracts three very different suitors: Gabriel Oak, a sheep farmer...</p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>
    <!--movie 5-->    
        <div class="card" style="width: 23rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/c8/b1/bd/c8b1bdeb469366d1d0812e769bead457.jpg" class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title">The Dressmaker (2015)</h5>
                <p class="card-text">The Dressmaker is a 2015 Australian revenge comedy-drama 
                    film based on the 2000 novel of the same name by Rosalie. It stars Kate Winslet as a 
                    femme fatale in the title role of the dressmaker, Myrtle "Tilly"...</p>
                <a href="#" class="btn btn-warning">Wach Now</a>
            </div>
        </div>
    <!--movie 6-->    
        <div class="card" style="width: 23rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/8c/cd/b6/8ccdb6b5a2480469b552bed7ed68919a.jpg" class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title">The post (2017)</h5>
                <p class="card-text">When American military analyst, Daniel Ellsberg, realizes to his 
                    disgust the depths of the US government's deceptions about the futility of the 
                    Vietnam War, he takes action by copying top-secret documents...</p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>

    <!--movie 7--> 
        <div class="card" style="width: 22rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/10/66/16/106616a40866f5f7d356fbd08247f6c6.jpg" class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title">Enola Holmes (2020)</h5>
                <p class="card-text">England, 1884 - a world on the brink of change.
                     On the morning of her 16th birthday, Enola Holmes wakes to find that her 
                     mother has disappeared, leaving...</p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>

    <!--movie 8-->    
        <div class="card" style="width: 23rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/3a/66/53/3a665321b76dec713487a101c197c414.jpg" class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title"> The Theory of Everything (2014)</h5>
                <p class="card-text">The Theory of Everything is the story of the most brilliant 
                    and celebrated physicist of our time, Stephen Hawking, and Jane Wilde, 
                    the arts student he fell in love with while studying... </p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>
    
    <!--movie 9-->
        <div class="card" style="width: 23rem;">
            <div class="card-head">
                <img src="https://i.pinimg.com/564x/e4/11/ae/e411ae3b49c6bcb2bc4c57edb0fd0710.jpg" class="card-img-top" alt="saytama">
            </div>
            <div class="card-body">
                <h5 class="card-title">The Last princess (2016)</h5>
                <p class="card-text"> the movie is both a drama and an action film that is based upon
                     the life of Princess Deok-hye who was born into Korea's last royal family in 1912 as the only daughter of the last King...</p>
                <a href="#" class="btn btn-warning">Wach Now <i class="fas fa-eye"></i></a>
            </div>
        </div>

    </main>
    <!-- FOOTER CONTENT  -->
    <footer class="border bg-light p-2">
        <figure class="text-center ">
            <blockquote class="blockquote">
                <p>Period Drama Movies</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Author name <cite title="Source Title">Naima</cite>
            </figcaption>
        </figure>
    </footer>

 

    <!-- MODAL FOR SIGN IN -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign In </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Conection</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</body>

</html>



</body>

</html>